# Ignore environment files
user/.env
.env.local
.env.*.local
# Ignore Loki/Minio data
additional/*/.data/

# Ignore IntelliJ IDEA project files
.idea/
*.iml
./vscode
# Ignore logs
logs/
*.log

# Ignore build and dependency directories
target/
build/
out/

# Ignore Docker-related files
docker-compose.override.yml
*.env

# Ignore sensitive configuration files
config/*.yml
config/*.yaml

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.swp
*.bak
*.old
